.resourcescont{
    position: absolute;

    background-color: rgb(139, 220, 9);
    margin-top:200px;
    margin: auto;
    margin-left: 20%;
    margin-top: 8%;
    width: 1021px;
    height: 431px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resourcescont h1{
color: aqua;
}
